@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}



.carousel {
    width: 75%;
    text-align: center;
    max-width: 500px;
    margin: 3rem auto;
    position: relative;
}

.carousel img {
    width: 100%;
    height: 290px;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
    display: none;

}

.carousel .carousel__item--visible {
    display: block;
    animation: fadeIn 1s;

}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 0.6;}
}
.carousel .carousel__actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.carousel .carousel__actions button {
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    width: 50px;
    border: 0;
    background-color: rgba(187, 187, 187, 0.719);
    font-size: 1.5rem;
    color: rgb(99, 99, 99);
    margin:0.5rem
}


html {
    font-family:'Roboto', sans-serif;
    color: #777474;
}

.movie-card {
    margin-top:5rem;
    height: 800px;
    text-align:center;
}

.movie-title {
    text-transform: uppercase;
    /*add for animation*/
    transform: translateY(-150px);
    animation: slide-from-top 3.5s ease-in-out forwards;
}

@keyframes slide-from-top {
    80% {transform: translateY(15px);}
    100% {transform: translateY(0);}
}



.movie-poster-container img {
    margin-top: 2rem;
    border-radius:5%;
    /*add for animation*/
    position: center;
    opacity: 0;
    animation: fade-in 3.5s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes slide-from-left{
    100% {opacity: 1;}
}

.movie-rating {
    display: inline-block;
    border: 1px solid #151515;
    padding: 0.5rem;
    
}

.movie-duration {
    margin-left: 1rem;
    letter-spacing: 0.2rem;
}

.movie-duration:before {
    content: "\2022";
}

.movie-info-quote {
    color: #151515a4;
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}


.movie-info-overview-title {
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
}

.movie-info-overview{
    margin-top: 3rem;
}

.movie-info-actions {
    font-size:1.1rem;
    /*add for animation*/
    opacity: 0;
    animation: fade-in 3.5s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes fade-in {
    100% {opacity: 1;}
}

.movie-info-actions ul {
    list-style: none;
}

.movie-info-actions ul li {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 3rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(3, 37, 65);
    
}

.movie-info-actions ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(209, 204, 204, 0.61);
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;
}
.modal-content{
    background-color: rgba(187, 187, 185, 0.932);
    margin: 5% auto;
    padding: 3rem;
    width: 500px;
    border-radius: 5%;
    height: 650px;
    animation: zoom-in 1s;

}

@keyframes zoom-in {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

.closeBtn {
    float: right;
    cursor: pointer;
    font-size: 1.2rem;
}

.movie-poster-modal {
    width: 350px;
    height: 500px;
    position: center;
}

.movie-poster {
    width: 500px;
    cursor: pointer;

}
footer {
    margin-top: 45rem ;
    text-align: center;
    color: #777;
}

footer ul {
    list-style: none;

}

footer ul li {
    display: inline-block;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

footer ul li a {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #777;
}